::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}

:root {
	--red: #ae2012;
	--gold: #f1c40f;
	--purple: #5a189a;
	--orange: #ff8500;
	--green: #00c853;
	--aquamarine: #0a9396;
	--aquamarine2: #009578;
	--blue: #00b0ff;
	--beage: #fffbf4;
	--light-grey: #cacaca;
	--white: #ffffff;
	--dark-pink: #840033;
	--gray-blue: #2c353c;
	--gray-blue2: #1d2328;
	--black: #000000;
}

.light {
	--background: var(--beage);
	--selected-border: var(--blue);
	--selected-note: var(--light-grey);
	--text: var(--black);
	--button-text: var(--black);
	--button: var(--aquamarine);
	--noteColor1: #ff0000;
	--noteColor2: #ffc400;
	--noteColor3: #0180ff;
	--noteColor4: #00ff22;
	--noteColor5: #ff6200;
	--noteColorCustom: #a0a0a0;
	--delete: var(--dark-pink);
	--favorite: var(--gold);
}

.dark {
	--background: var(--gray-blue2);
	--selected-border: var(--orange);
	--selected-note: var(--gray-blue);
	--text: var(--white);
	--button-text: #ffffff;
	--button: var(--purple);
	--noteColor1: #ff0000;
	--noteColor2: #ffc400;
	--noteColor3: #0180ff;
	--noteColor4: #00ff22;
	--noteColor5: #ff6200;
	--noteColorCustom: #a0a0a0;
	--delete: var(--dark-pink);
	--favorite: var(--gold);
}

html,
body {
	height: 100%;
	margin: 0;
	overflow-y: hidden;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: var(--background);
	transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

#themeSwitcher {
	position: absolute;
	bottom: 2em;
	right: 2em;
	height: 70px;
	width: 70px;
	border: 0;
	background-color: transparent;
}

#themeSwitcher:hover {
	cursor: pointer;
}

#themeSwitcher img {
	width: 100%;
}

#color-picker {
	display: flex;
	align-items: center;
	justify-content: center;
}

.color-picker-button {
	cursor: pointer;
	border-radius: 50%;
}

#red {
	color: var(--red);
}

#green {
	color: var(--green);
}

#blue {
	color: var(--blue);
}

#yellow {
	color: var(--gold);
}

#grey {
	color: var(--light-grey);
}

.notes {
	display: flex;
	height: 100%;
}

.notes__sidebar {
	flex-shrink: 0;
	width: 300px;
}

.function__tiles {
	background: var(--button);
	border: none;
	color: var(--button-text);
	cursor: pointer;
	font-size: 1.25em;
	font-weight: bold;
	padding: 0.75em 0;
	width: 100%;
}

.notes__search {
	position: relative;
	margin-top: 1em;
	border-radius: 0 25px 0 25px;
}

.notes__search input {
	color: var(--button-text);
	margin-left: 2em;
	border: none;
	background-color: transparent;
	width: 70%;
}

.notes__search::before {
	content: '';
	position: absolute;
	background-color: transparent;
	top: -50px;
	left: 0px;
	height: 50px;
	width: 25px;
	border-bottom-left-radius: 25px;
	box-shadow: 0 25px 0 0 var(--button);
	z-index: -1;
}

.notes__search::after {
	content: '';
	position: absolute;
	background-color: transparent;
	top: 53px;
	right: 0px;
	height: 50px;
	width: 25px;
	border-top-right-radius: 25px;
	box-shadow: 0 -25px 0 0 var(--button);
	z-index: 2;
}

.notes__add {
	position: relative;
	border-radius: 25px 0 25px 0;
	margin-bottom: 1em;
}

.notes__add::before {
	content: '';
	position: absolute;
	background-color: transparent;
	top: 53px;
	left: 0px;
	height: 50px;
	width: 25px;
	border-top-left-radius: 25px;
	box-shadow: 0 -25px 0 0 var(--button);
	z-index: -1;
}

.notes__add::after {
	content: '';
	position: absolute;
	background-color: transparent;
	top: -50px;
	right: 0px;
	height: 50px;
	width: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 0 25px 0 0 var(--button);
}

.notes__list {
	overflow-y: auto;
	max-height: calc(100vh - 150px);
}

.notes__list-item {
	border-right: 3px solid var(--button);
	cursor: pointer;
	position: relative;
}

.notes__list-item:hover {
	background-color: var(--selected-note);
}

.notes__list-item--selected {
	background: var(--selected-note);
	border-right: 5px solid var(--selected-border);
	font-weight: bold;
	transition: border-right 300ms ease-in-out, padding-right 300ms ease-in-out;
}

.notes__small-title,
.notes__small-updated {
	color: var(--text);
	padding: 10px;
}

.notes__small-title {
	font-size: 1.2em;
}

.notes__small-body {
	color: var(--text);
	padding: 0 10px;
}

.notes__small-updated {
	color: var(--text);
	font-style: italic;
	text-align: right;
}

.notes__preview {
	display: flex;
	flex-direction: column;
	padding: 2em 3em;
	flex-grow: 1;
}

.notes__title,
.notes__body {
	background-color: var(--background);
	color: var(--text);
	transition: background 500ms ease-in-out;
	border: none;
	outline: none;
	width: 100%;
}

.notes__title {
	font-size: 3em;
	font-weight: bold;
}

.notes__body {
	flex-grow: 1;
	font-size: 1.2em;
	line-height: 1.5;
	margin-top: 2em;
	resize: none;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.delete {
	position: absolute;
	top: 10px;
	right: 10px;
	color: var(--delete);
}

.favorite {
	position: absolute;
	top: 10px;
	right: 50px;
	color: var(--favorite);
}
